In [1]:
import pandas as pd
import numpy as np

data={'Name':['jeetu','aditya','humble','sujal'],'age':['18','17','20','19'],'city':['barielly','himachal pardesh','bihar','uttarakhand']}
df=pd.DataFrame(data)
print(df)

ages=np.array(df['age'])
print(ages)

m=pd.Series(ages)
print(m)

a=pd.Series(['java','c','C++',np.nan])
a.map({'java':'core'})

a.map('i like{}'.format,na_action='ignore')

x=['python','pandas']
df=pd.DataFrame(x)

print(df)

info={'id':[101,102,103],'department':['b.sc','b.tech','m.tech']}
df=pd.DataFrame(info)
print(df)

info={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
print(info)

     Name age              city
0   jeetu  18          barielly
1  aditya  17  himachal pardesh
2  humble  20             bihar
3   sujal  19       uttarakhand
['18' '17' '20' '19']
0    18
1    17
2    20
3    19
dtype: object
        0
0  python
1  pandas
    id department
0  101       b.sc
1  102     b.tech
2  103     m.tech
{'one': a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64}

In [3]:
info={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
df=pd.DataFrame(info)
print("add new column to an existing data frame object by passing Series")
df['three']=pd.Series([20,40,60],index=['a','b','c'])
print(df)

add new column to an existing data frame object by passing Series
   one  two  three
a    1    1   20.0
b    2    2   40.0
c    3    3   60.0
d    4    4    NaN
e    5    5    NaN
f    6    6    NaN

In [4]:
print("ADD NEW COLUMN USING EXISTING DATAFRAME COLUMNS")
df['four']=df['one']+df['three']
print(df)

ADD NEW COLUMN USING EXISTING DATAFRAME COLUMNS
   one  two  three  four
a    1    1   20.0  21.0
b    2    2   40.0  42.0
c    3    3   60.0  63.0
d    4    4    NaN   NaN
e    5    5    NaN   NaN
f    6    6    NaN   NaN

In [5]:
#COLUMN DELETION
print("using del function:--delete the first column")
del df['one']
print(df)

using del function:--delete the first column
   two  three  four
a    1   20.0  21.0
b    2   40.0  42.0
c    3   60.0  63.0
d    4    NaN   NaN
e    5    NaN   NaN
f    6    NaN   NaN

In [6]:
#USING THE POP FUNCTION
df.pop('two')
print(df)

   three  four
a   20.0  21.0
b   40.0  42.0
c   60.0  63.0
d    NaN   NaN
e    NaN   NaN
f    NaN   NaN

In [7]:
#SELECTION BY LABEL USING THE LOC FUNCTION
print(df.loc['b'])

three    40.0
four     42.0
Name: b, dtype: float64

In [8]:
#SELECTION BY INTEGER LOCATION
print(df.iloc[3])

three   NaN
four    NaN
Name: d, dtype: float64

In [9]:
#SLICE ROWS
print(df[2:5])

   three  four
c   60.0  63.0
d    NaN   NaN
e    NaN   NaN

In [30]:
#ADDITION OF ROWS
import pandas as pd

data = {'A': [1, 3], 'B': [2, 4]}
df = pd.DataFrame(data)
pd.concat([df, pd.DataFrame([{'A': 5, 'B': 6}])], ignore_index=True)

   A  B
0  1  2
1  3  4
2  5  6

In [33]:
print(df.count())

A    2
B    2
dtype: int64

In [34]:
print(df.describe())

              A         B
count  2.000000  2.000000
mean   2.000000  3.000000
std    1.414214  1.414214
min    1.000000  2.000000
25%    1.500000  2.500000
50%    2.000000  3.000000
75%    2.500000  3.500000
max    3.000000  4.000000

In [36]:
#DELETION OF ROWS
data = pd.DataFrame(np.arange(12).reshape(3, 4),columns=['A', 'B', 'C', 'D'])
data.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11